<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold ms-3" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
            Pogodynka
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/air" routerLinkActive="active" ariaCurrentWhenActive="page">Jakość powietrza</a>
                </li>
            </ul>
        </div>
    </div>
</nav>